micronaut:
  application:
    name: nossaCasaDoCodigo
datasources:
  default:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/cdc_micronaut?createDatabaseIfNotExist=true&serverTimezone=UTC
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: root
    password: ${DB_PASSWORD:1234}
    schema-generate: CREATE_DROP
    dialect: "org.hibernate.dialect.MySQL5InnoDBDialect"
jpa:
  default:
    properties:
      hibernate.hbm2ddl.auto: update
      hibernate.show_sql: true
